@import "bootstrap";

@mixin border-radius($radius: 10px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

$c_base: rgb(29, 30, 36);
$c_cream: rgb(224, 208, 170);
$c_teal: rgb(141, 168, 147);
$c_pumpkin: rgb(193, 142, 68);
$c_brown: rgb(73, 50, 39);

html, body {
  height: 100%;
}

#minwrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -5em;
}
.push {
  height: 5em;
}


header {
  height: 4em;
  margin: .5em 1em;
  padding: 0 0;
  background: $c_base;
  @include border-radius(10px);
  
  #navigation {
    
    
    ul {
      li {
        list-style: none;
        display: inline-block;
        padding-left: 10px;
        float: right;
      }
    }
  }
}

#footer {
  height: 4em;
  margin: .5em 1em;
  background: $c_base;
  @include border-radius(10px);
}


#sidebar {
  background: blue;
}

#content {
  background: blue;
}