%header#header.clearfix
  #logo
    %a{href: root_url}
      %h1 ToppleIt
  #navigation
    %ul
      %li
        %a{href: root_path}
          Home
      %li
        %a{href: about_path}
          About
      - if current_user
        %li= link_to("Admin", admin_path)
