%header#header
  %a{href: root_url}
    %p ToppleIt
  #navigation
    %ul
      - if current_user
        %li= link_to("Admin", admin_path)
      %li
        %a{href: about_path}
          About
      %li
        %a{href: '#'}
          Blog