!!!
%html
  %head
    %title Toppleit
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      %a{href: root_url}
        %h1 ToppleIt
      
    #content
      = yield
      
    %footer
      %h1 Footer